.table-head {
    padding-right: 10px;
}
table {
    font-size: 13px;
    text-align: center;
}
table thead {
    background-color: rgba(185, 185, 185, 0.685);
}
.table-responsive {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
tr button {
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: block;
}
tr button img {
    width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
td input {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
