#search-section {
    margin: 10px auto;
    padding: 20px;
}
input {
    border-radius: 10px;
    font-size: 12px;
    padding:10px;
    border: 1px solid #999999;
    width: 100%;
}
input:focus {
    outline: none !important;
    border: 1px solid rgb(0, 92, 128);
    box-shadow: 0 0 6px #00a5ce;
    border-radius: 10px;
    color:black;
}
.btn {
    border-radius: 10px;
}
.box {
    background-color: rgba(185, 185, 185, 0.295);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}
.box p, span{
    padding:1px;
}
.product-title {
    padding-top: 15px;
}
.product-title p, label {
    font-weight: bold;
}
.product-title input {
    width: 80%;
    height: 50%;
    text-align: center;

}
span {
    font-size: 12px;
}
.img-box {
    height:182px;
}
.img-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
