{% extends 'base.html' %}
{% load static %}

{% block title %}
    فروشگاه دارنیا | {{ product.name }}
{% endblock %}

{% block section %}
<section class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="row">
                    <div class="col-2 col-lg-1"><img class="icon" src="{% static 'images/user-icon.png' %}"></div>
                    <div class="col-10 col-lg-11"><h2>مشخصات محصول</h2></div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-6 img-box" style="height:100%">
                        <img class="img-fluid" src="{{ product.photo.url }}">
                    </div>
                </div>
                <hr>
                <div class="row center-text" style="margin-top:10px;">
                    <div class="col-6"><label>نام محصول:</label></div>
                    <div class="col-6"><p>{{ product.name }}</p></div>
                </div>
                <hr>
                <div class="row center-text" style="margin-top:10px;">
                    <div class="col-6"><label>قیمت:</label></div>
                    <div class="col-6"><p>{{ product.price }}</p></div>
                </div>
                <hr>
                <div class="row center-text" style="margin-top:10px;">
                    <div class="col-6"><label>دسته:</label></div>
                    <div class="col-6"><p>{{ product.category }}</p></div>
                </div>
                <hr>
                <div class="row center-text" style="margin-top:10px;">
                    <div class="col-6"><label>موجودی:</label></div>
                    <div class="col-6"><p>{{ product.inventory }}</p></div>
                </div>
                <hr>
                <div class="row center-text" style="margin-top:10px;">
                    <div class="col-6"><label>توضیحات:</label></div>
                    <div class="col-6"><p>{{ product.description }}</p></div>
                </div>
                <hr>
                <div class="row center-text" style="margin-top:10px;">
                    <div class="col-6">
                        <label>تعداد:</label>
                    </div>

                    <form class="col-6" action="{{ actions.0 }}" method="{{ methods.0 }}">
                        {% csrf_token %}
                        {% for field in forms.0 %}
                            {{ field }}
                        {% endfor %}
                        <hr>
                        <div class="row">
                            <button type="submit" class="btn btn-success"><span>افزودن</span></button>
                        </div>
                        <input type="hidden" name="path" value="{{ request.path }}">

                    </form>
                </div>
                {% if forms.1 %}
                    <div class="row" style="margin-top:10px;">
                        <div class="col-6"></div>
                        <form class="col6" action="{{ actions.1 }}" method="{{ methods.1 }}">
                            <input type="hidden" name="path" value="{{ request.path }}">
                            <button type="submit" class="btn btn-danger"><span>حذف</span></button>
                        </form>
                    </div>
                    {% endif %}

                {% if request.user.is_staff  %}
                    <div class="row" style="margin-top:10px;">
                        <div class="col-6"></div>
                        <form class="col6" action="/product/{{ product.id }}/edit/" method="GET">
                            <button type="submit" class="btn btn-info"><span>ویرایش</span></button>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}
