{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/productlist.css' %}">
{% endblock %}

{% block title %}
    فروشگاه دارنیا | محصولات
{% endblock %}

{% block section %}
    <div class="container" id="search-section">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-8 col-lg-6">
                    <input type="text" name="search" placeholder="نام محصول مورد نظرتان را جست و جو کنید..." autofocus value="{{ search_string }}">
                </div>
                <div class="col-1 col-lg-2">
                    <button type="submit" class="btn btn-success"><img src="{% static 'images/search-icon.png' %}"></button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row justify-content-center">

            {% for product in products %}
                <div class="col-9 col-lg-3">
                        <div class="box col-10">
                            <div class="img-box">
                                <img class="img-fluid" src="{{ product.photo.url }}">
                            </div>
                            <div class="row product-title">
                                <div class="col-6"><p>نام محصول:</p></div>
                                <div class="col-6"><span>{{ product.name }}</span></div>

                                <div class="col-6"><p>قیمت:</p></div>
                                <div class="col-6"><span>{{ product.price }} </span></div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <form action="/product/{{ product.id }}/">
                                        <button type="submit" class="btn btn-info"><span>مشاهده</span></button>
                                    </form>
                                </div>
                                <div class="col-6">


                                    <form action="/cart/{{ cartid }}/add/{{ product.id }}/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="path" value="{{request.path}}">
                                        <input type="hidden" name="count" value="1">
                                        <button type="submit" class="btn btn-success"><span>افزودن</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}